@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Righteous&family=Sarala&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&family=Source+Serif+4:wght@200&display=swap");
:root {
  --pretoescuro: #0f0c29;
  --roxo: #302b63;
  --roxoescuro: #24243e;
  --pink: #a53c6f;
  --purple: #7d3994;
  --gradient: linear-gradient(78.15deg, var(--pretoescuro), var(--roxo), var(--roxoescuro));
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  border: none;
  text-transform: capitalize;
}

body {
  font-size: 100%;
  background: linear-gradient(68.15deg, #0f0c29, #302b63, #24243e);
}

html {
  font-size: 62.5%;
  overflow: scroll;
}

section {
  min-height: 100vh;
  padding: 0.9%;
  padding-top: 7.5rem;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
  background: linear-gradient(68.15deg, #0f0c29, #302b63, #24243e);
}

header .logo {
  font-size: 3.7rem;
  color: var(--pink);
  font-family: 'Righteous', cursive;
  text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}

header .logo span {
  color: #fff;
}

header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}

header .navbar a {
  font-size: 1.9rem;
  margin-left: 2rem;
  color: #fff;
  opacity: 0.8;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
  font-family: 'Sarala', sans-serif;
}

header .navbar a:hover {
  color: var(--pink);
}

.wrapper {
  height: 94vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home .title {
  font-size: 5.5rem;
  text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  color: #fff;
  font-family: 'Righteous', cursive;
  width: 12ch;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid;
  -webkit-animation: typing 1.8s steps(15), blink 0.3s step-end infinite alternate;
          animation: typing 1.8s steps(15), blink 0.3s step-end infinite alternate;
}

@-webkit-keyframes typing {
  from {
    width: 0;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}

@-webkit-keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.home .title span {
  color: var(--pretoescuro);
}

.home .content {
  margin-bottom: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.commands .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
  margin-top: 18px;
  padding: 5.5rem;
}

.commands .content h3 {
  font-family: 'Righteous', cursive;
  font-weight: 400;
  font-size: 64px;
  color: var(--pink);
  text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  margin-bottom: 16px;
}

.commands .content p {
  font-size: 1.4rem;
  color: #fff;
}

.commands .basic {
  font-size: 5.5rem;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Righteous', cursive;
  text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  margin-top: 48px;
  padding: 5.5rem;
}

.commands .box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

.commands .box {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30rem;
          flex: 1 1 30rem;
  background: rgba(0, 0, 0, 0.06);
  border-radius: .7rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0.5rem 1rem rgba(0, 0, 0, 0.1);
  margin: 1.5rem;
  padding: 2rem 2rem;
  border-radius: .7rem;
}

.commands .box h3 {
  font-size: 2rem;
  color: var(--purple);
  text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
  padding-top: 1rem;
  font-family: 'Sarala', sans-serif;
}

.commands .box p {
  font-size: 1.5rem;
  color: #e9e3e3;
  padding: 1rem 0;
  text-transform: none;
  font-weight: 600;
  font-family: 'Source Serif 4', sans-serif;
  word-spacing: .5rem;
}

.commands .box p span {
  color: var(--pink);
  text-transform: lowercase;
  font-style: italic;
}
/*# sourceMappingURL=style.css.map */